<mat-card>
  <mat-card>
    <mat-action-list>
      @for (hero of heroes; track hero.id) {
        <button mat-list-item [disabled]="disabled()" (click)="heroSelected(hero)">{{hero.name}}</button>
        @if (!$last) {
          <mat-divider></mat-divider>
        }
      }
    </mat-action-list>
  </mat-card>
  <mat-card>
    @if (updated()) {
      @if (selectedHero()) {
        <hero-edit [hero]="selectedHero()" (updatedHero)="updateHero($event)"></hero-edit>
      }
    } @else {
      @if (selectedHero()) {
        <hero-detail [hero]="selectedHero()" (toggleHeroButtons)="toggleHeroButtons()"></hero-detail>
      }
    }
  </mat-card>
</mat-card>
